<div class="wrapper">
  <div class="header center"> 
    <h1>WCA Competition Certificates</h1>
  </div>
  
  <div class="content center">
  <!-- LOGIN -->
    <div *ngIf="! apiService.oauthToken">
      <button class="login" (click)="handleLoginToWca()">First: login</button><br>
    </div>

  <!-- SELECT COMP -->
    <div *ngIf="apiService.oauthToken && ! competitionId">
      <p>Welcome!</p>
      <p *ngIf="competitionsToChooseFrom">Select a competition:</p>
      <p *ngFor="let competitionId of competitionsToChooseFrom">
        <button class="competition" (click)="handleCompetitionSelected(competitionId)">{{competitionId}}</button>
      </p>
      <p *ngIf="!!competitionsToChooseFrom && competitionsToChooseFrom.length === 0">You don't have any competition available :-(</p>
    </div>

  <!-- INFORMATION ABOUT COMP AND PRINTING -->
    <div *ngIf="competitionId && wcif && state === 'PRINT'">
      <p> Selected competition: {{ competitionId }}<br><br>
      <button (click)="printEmptyCertificate()"
        ><i class="fa fa-download"></i> Empty certificate for {{ competitionId }}</button><br><br>
      {{ events?.length }} events found...&nbsp;&nbsp;<button (click)="handleRefreshCompetition()"
        ><i class="fa fa-refresh"></i> Refresh results</button></p>
      
      <table class="center">
      <tr *ngFor="let event of wcif.events">
        <td><input type="checkbox" [(ngModel)]="event.printCertificate"></td>
        <td>{{ printService.getEvent(event.id)?.label }}</td>
        <td>{{ getWarningIfAny(event.id) }}</td>
      </tr>
      </table><br>
      <button (click)="state = 'EDIT'"><i class="fa fa-cog"></i> Customize</button><br><br>
      <button (click)="printCertificates()"
        [disabled]="printDisabled()"><i class="fa fa-download"></i> Download pdf</button>
    </div>
    
  <!-- REFRESH -->
    <div *ngIf="state === 'REFRESHING'">
      <p>Refreshing...</p>
    </div>
    
  <!-- CUSTOMIZE -->
    <div *ngIf="competitionId && wcif && state === 'EDIT'">
      Only use competitors from countries with ISO (semicolon-separated):&nbsp;&nbsp;<input [(ngModel)]='printService.countries' type="text"/><br><br>
      Page orientation:&nbsp;&nbsp;<select class='form-control' [(ngModel)]='printService.pageOrientation'>
        <option value='landscape'>Landscape</option>
        <option value='portrait'>Portrait</option>
      </select><br><br>
      <input type="checkbox" [(ngModel)]='printService.showLocalNames'/>Show local names<br><br>
      <select class='form-control' [(ngModel)]='printService.language'>
        <option value='nl'>Dutch</option>
        <option value='en'>English (UK)</option>
        <option value='en-us'>English (US)</option>
        <option value='fr'>French</option>
        <option value='ru'>Russian</option>
      </select>&nbsp;&nbsp;
      <button (click)="printService.loadLanguageTemplate()"><i class="fa fa-refresh"></i> Load language</button>&nbsp;&nbsp;This will overwrite any changes!<br><br>
      <textarea [(ngModel)]="printService.templateJson"></textarea><br><br>
      Background design: <input type="file" (change)="printService.handleBackgroundSelected($event.target.files)"/><br><br>
      <button (click)="state = 'PRINT'"><i class="fa fa-arrow-circle-left"></i> Go back to printing</button>
    </div>
    
  </div>
</div>
