<div class="wrapper">
  <div class="header center">
    <h1>WCA Competition Certificates</h1>&nbsp;<h6>{{version()}}</h6>
  </div>

  <div class="content center">
  <!-- LOGIN -->
    <div *ngIf="! apiService.oauthToken">
      <button class="login" (click)="handleLoginToWca()">First: login</button><br>
    </div>

  <!-- SELECT COMP -->
    <div *ngIf="apiService.oauthToken && ! competitionId">
      <p>Welcome!</p>
      <div *ngIf="competitionsToChooseFrom">
        <p>Select a competition:</p>
        <p *ngFor="let competitionId of competitionsToChooseFrom">
          <button class="competition" (click)="handleCompetitionSelected(competitionId)">{{competitionId}}</button>
        </p>
        <p>Custom competition: <input type="text" [(ngModel)]="customCompetitionId">&nbsp;
          <button class="competition" (click)="handleCompetitionSelected(customCompetitionId)">Load competitionId</button>
        </p>
        <p *ngIf="competitionsToChooseFrom.length === 0">You don't have any competition available :-(</p>
      </div>
    </div>

    <div *ngIf="competitionId && wcif">
      <mat-tab-group>
        <mat-tab label="Print podium certificates">
          <br>
          <div *ngIf="state === 'REFRESHING'">
            <p>Refreshing...</p>
          </div>
          <div *ngIf="state !== 'REFRESHING'">
            <!-- INFORMATION ABOUT COMP AND PRINTING -->
            <p> Selected competition: {{ competitionId }}<br><br>
              <button (click)="printEmptyCertificate()"
              >Empty certificate for {{ competitionId }}</button><br><br>
              {{ events?.length }} events found...&nbsp;&nbsp;<button (click)="handleRefreshCompetition()"
              >Refresh results</button></p>
            <table class="center">
              <tr>
                <td><input type="checkbox" (click)="checkAllEvents($event)"><b>Toggle all events</b></td>
                <td><b>Event</b></td>
                <td></td>
              </tr>
              <tr *ngFor="let event of wcif.events">
                <td><input type="checkbox" [(ngModel)]="event.printCertificate"></td>
                <td>{{ printService.getEventName(event.id) }}</td>
                <td>{{ getWarningIfAny(event.id) }}</td>
              </tr>
            </table><br>
            <button (click)="printCertificatesAsPdf()"
                    [disabled]="printDisabled()">Download as pdf</button>&nbsp;
            <button (click)="printCertificatesAsZip()"
                    [disabled]="printDisabled()">Download as zip</button>
          </div>
        </mat-tab>
        <mat-tab label="Customize podium certificates">
          <!-- CUSTOMIZE -->
          <div>
            <br>
            <select class='form-control' [(ngModel)]='printService.language'>
              <option value='nl'>Dutch</option>
              <option value='en'>English (UK)</option>
              <option value='en-us'>English (US)</option>
              <option value='fr'>French</option>
              <option value='de-ch'>German (Switzerland)</option>
              <option value='es-mx'>Mexican Spanish</option>
              <option value='ru'>Russian</option>
            </select>&nbsp;&nbsp;
            <button (click)="printService.loadLanguageTemplate()">Load language</button>&nbsp;&nbsp;This will overwrite any changes!<br><br>
            <textarea [(ngModel)]="printService.podiumCertificateJson"></textarea><br><br>
            Background design: <input type="file" (change)="printService.handleBackgroundSelected($event.target.files)"/><br><br>
            Page orientation:&nbsp;&nbsp;<select class='form-control' [(ngModel)]='printService.pageOrientation'>
            <option value='landscape'>Landscape</option>
            <option value='portrait'>Portrait</option>
          </select><br><br>
            <!-- <input type="checkbox" [(ngModel)]='printService.showLocalNames'/>Show local names<br><br> -->
            Only use competitors from countries with ISO (semicolon-separated):&nbsp;&nbsp;<input [(ngModel)]='printService.countries' type="text"/><br><br>
          </div>
        </mat-tab>
        <mat-tab label="Print participation certificates">
          <br>
          <div *ngIf="state === 'REFRESHING'">
            <p>Refreshing...</p>
          </div>
          <div *ngIf="state !== 'REFRESHING'">
            <p> Selected competition: {{ competitionId }}<br><br>
              {{ events?.length }} events found...&nbsp;&nbsp;<button (click)="handleRefreshCompetition()"
              >Refresh results</button><br><br>
              {{ acceptedPersons - personsWithAResult.length }}/{{ acceptedPersons }} competitor(s) don't have any result yet
            </p>
            <button (click)="printParticipationCertificatesAsPdf()"
                    [disabled]="personsWithAResult.length === 0"
              >Download {{ personsWithAResult.length }} participation certificates as pdf</button>&nbsp;
            <button (click)="printParticipationCertificatesAsZip()"
                    [disabled]="personsWithAResult.length === 0"
            >Download {{ personsWithAResult.length }} participation certificates as zip</button>
            <p>Note: generating may take a few seconds, depending on the number of competitors</p>
          </div>
        </mat-tab>
        <mat-tab label="Customize participation certificates">
          <br>
          <select class='form-control' [(ngModel)]='printService.participationLanguage'>
            <option value='nl'>Dutch</option>
            <option value='en'>English (UK)</option>
            <option value='en-us'>English (US)</option>
            <option value='de-ch'>German (Switzerland)</option>
            <option value='es-mx'>Mexican Spanish</option>
            <option value='ru'>Russian</option>
          </select>&nbsp;&nbsp;
          <button (click)="printService.loadLanguageParticipationTemplate()">Load language</button>&nbsp;&nbsp;This will overwrite any changes!<br><br>
          <textarea [(ngModel)]="printService.participationCertificateJson"></textarea><br><br>
          Background design: <input type="file" (change)="printService.handleParticipationBackgroundSelected($event.target.files)"/><br><br>
          Page orientation:&nbsp;&nbsp;<select class='form-control' [(ngModel)]='printService.participationPageOrientation'>
          <option value='landscape'>Landscape</option>
          <option value='portrait'>Portrait</option>
        </select><br><br>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div *ngIf="error">{{error.toString()}}</div>
    <div *ngIf="loading">Loading...</div>
  </div>

  <div class="footer left">
    <a href="https://github.com/Goosly/wca-certificates/wiki" target="_blank">Wiki</a>&nbsp;
    <a href="https://github.com/Goosly/wca-certificates" target="_blank">Github</a>
  </div>
</div>
