@import '~@angular/material/prebuilt-themes/indigo-pink.css';

div {
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 5;
  border-bottom: 1px solid gray;
}
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header, .footer {
  width: 100%;
}
.content {
  width: 100%;
  flex: 1;
  overflow: auto;
}

.center {
  text-align: center;
  margin: auto;
}

.login {
  font-size: 25px;
}

.competition {
  font-size: 12px;
}

button {
  background-color: #4ddbff;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:disabled {
  background-color: #767d87;
}

textarea {
  width: 500px;
  height: 400px;
}

.mat-tab-labels {
  justify-content: center;
}
