@import '~@angular/material/prebuilt-themes/indigo-pink.css';

div {
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 5;
  border-bottom: 1px solid gray;
}
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header, .footer {
  width: 100%;
}
.content {
  width: 100%;
  flex: 1;
  overflow: auto;
}

.center {
  text-align: center;
  margin: auto;
}

.left {
  text-align: left;
  margin: auto;
}

.login {
  font-size: 25px;
}

.competition {
  font-size: 12px;
}



button {
  background-color: #30c5ec;
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #78e0fa;
}

button:disabled {
  background-color: #767d87;
}

textarea {
  width: 500px;
  height: 350px;
}

.mat-tab-labels {
  justify-content: center;
}

.mat-ink-bar{
  background-color: #4ddbff !important;
}

h1, h6 {
  display: inline-block;
}
